.create-event-fab {
    background-color: #0275d8;
    color: #fff;
    width: 65px;
    height: 65px;
    box-shadow: 0 4px 8px rgba(0,0,0,.28);
    border: 0;
    border-radius: 50%;    
    text-align: center;
    float: right;
    margin-top: -65px;
}

.jumbotron.event-list {
    background-image: url(assets/bg7.jpg);
    background-size: cover;
    background-position: center;
}