<div class="jumbotron event-list">
  <div class="container">
    <!--<h1 [@title]="titleAnimation" style="opacity: 0" class="hero-header">Events</h1>
    <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag" *ngIf="currentUser">Explore upcoming meet ups.</p>
    <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag" *ngIf="!currentUser">Sign up to add events.</p>-->
    <div *ngIf="!currentUser">
      <h1 [@title]="titleAnimation" style="opacity: 0" class="hero-header">Meet Up</h1>
      <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag">The only fake event planner you'll ever need</p>
      <button type="button" class="btn btn-secondary btn-lg" (click)="goTo('/create-account')">Sign Up</button>
    </div>
    <div *ngIf="currentUser">
      <h1 [@title]="titleAnimation" style="opacity: 0" class="hero-header">Hey, {{currentUser.fname}}</h1>
      <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag">Get started planning your fake events</p>
    </div>
  </div>
</div>
<div class="container">
  <button *ngIf="currentUser" class="create-event-fab" placement="top" ngbTooltip="Create an event" (click)="goTo('/create-event')">
    <i class="fa fa-plus"></i><span class="sr-only">Create an event</span>
  </button>
  <p *ngIf="currentUser">&nbsp;</p>
  <div class="list-group">
    <a *ngFor="let event of events" [routerLink]="['/event', event.id]" class="list-group-item list-group-item-action">
      <span>{{event.startDate.moment}}</span>
      <h5 class="list-group-item-heading">{{event.name}}</h5>
      <p class="list-group-item-text"><i class="fa fa-map-marker"></i> {{event.location}} <br>
        <small><i class="fa fa-users"></i> {{event.guests.length}} people are going</small>
      </p>
    </a>
  </div>
</div>
