<div class="jumbotron">
  <div class="container">
    <h1>Events</h1>
  </div>
</div>
<div class="container">
  <button *ngIf="currentUser" class="create-event-fab" placement="top" ngbTooltip="Create an event" (click)="goTo('/create-event')">
    <i class="fa fa-plus"></i><span class="sr-only">Create an event</span>
  </button>
  <h5><small>IN 4 HOURS:</small></h5>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">List group item heading</h5>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
  </div>
</div>
