<div class="jumbotron" style="background-position: center; background-size: 100%;" [ngStyle]="{'background-image': 'url('+ event.mapImage +')'}">
</div>
<div class="container">
  <div class="card" style="margin-top: -60px; margin-left: auto; margin-right: auto; max-width: 600px;">
      <button class="event-directions-fab" ngbTooltip="Google Maps" placement="top" (click)="viewDirections(event.mapLink)">
        <i class="fa fa-map fa-2x" aria-hidden="true"></i><span class="sr-only">View location on Google Maps</span>
      </button>
    <div class="card-block">
      <h2 class="card-title">{{event.name}} <span class="event-type-tag">{{event.eventType}}</span></h2>
      <small class="">Hosted by {{event.host}}</small><br>
      <small class="text-muted">{{event.startDate.moment}} to {{event.endDate.moment}}

      <p>
        <i class="fa fa-map-marker"></i>
        <a *ngIf="mapLink !== ''" [href]="event.mapLink" target="_blank" class="">{{event.location}}</a>
        <span *ngIf="mapLink === ''" class="">{{event.location}}</span>
      </p>
      </small>
      <div *ngIf="event.message !== ''">
        <h5>Info</h5>
        <p class="lead">{{event.message}}</p>
      </div>
      <h5>Guest list</h5>
      <p class="lead">
        <span *ngFor="let guest of event.guests; let l = last">{{guest}}<span *ngIf="!l">,</span> </span>
      </p>
      <h5>Event creator</h5>
      <p class="lead">
        {{event.user.fname}} {{event.user.lname}}
      </p>
      <!--<pre>{{event | json}}</pre>-->
    </div>
  </div>
</div>
