/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 54px;
}

.tag-input {
    border-bottom: 0px !important;
}

.tag-input--focused {
    border-bottom: 0px !important;
}