/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 54px;
}

.tag-input {
    border-bottom: 0px !important;
}

.tag-input--focused {
    border-bottom: 0px !important;
}

footer {
    margin-top: 30px;
}

.hero-header {
    text-shadow: 2px 2px 0 #fff;
}

.hero-tag {
    text-shadow: 1px 1px 0 #fff;
}