<div class="jumbotron">
  <div class="container">
    <h1>Meet Up</h1>
    <p class="lead">The only fake event planner you'll ever need</p>
    <button type="button" class="btn btn-primary btn-lg" (click)="goTo('/events')">View Events</button> <button type="button" class="btn btn-secondary btn-lg" (click)="goTo('/create-account')">Sign Up</button>
  </div>
</div>
<div class="container">
  <h2>Browse Events</h2>
  <p>So many fake events to choose from.</p>
  <h2>It's Free</h2>
  <p>Sign up and create your own fake events.</p>
  <h2>Easy to Use</h2>
  <p>So easy a baby could accidently use it.</p>
</div>